
<app-navbar></app-navbar>

    <div class="login">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
        <form>
          <div *ngIf="message" class="alert alert-danger">
            <strong>{{message}}</strong> 
          </div>
          <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="user.email" name="email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput [(ngModel)]="user.password" name="password">
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="loginUser()">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>


