<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Flight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!--start of navigation bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Logo</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flight">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">More</a>
      </li>
    </ul>
  </nav>
<!--end of navigation bar-->
<div class="container">
  <h2>Search Flight</h2>
  <form>

      <!--The "from" field-->
      <mat-form-field appearance="fill">
        <mat-label>from</mat-label>
        <input type="text" required matInput [matAutocomplete]="auto" [(ngModel)]="flight.departureCity" 
        #departureCity="ngModel" name="from"/> 
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option"> 
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!--The "to" field-->

      <mat-form-field appearance="fill">
        <mat-label>to</mat-label>
        <input type="text"  required matInput [matAutocomplete]="auto" [(ngModel)]="flight.arrivalCity" name="to"/> 
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option"> 
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!--The datepicker-->

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input required matInput [matDatepicker]="picker" [(ngModel)]="flight.dateOfDeparture" name="departureDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <br>
    <button mat-raised-button (click)="searchFlight()">search</button>
  </form>
</div>

</body>
</html>

