<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <app-navbar></app-navbar>
    <div class="container">
      <div class="row">
          <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="username">User Name:</label>
            <input type="email" class="form-control" [(ngModel)]="user.username" name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
          </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
            </div>
            <div class="form-group">
              <label for="phone">Phone Numbser:</label>
              <input type="phone" class="form-control" [(ngModel)]="user.phonenumber" name="phonenumber">
            </div>
            <div>
              <button type="button" class="btn btn-link" routerLink="/login">Log in</button>
            </div>
            <button type="submit" class="btn btn-success" value="Register" 
            (click)="registerNow()">Submit</button>
          </form>
        </div>
    </div>
</div>
</body>
</html>
