<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<app-navbar></app-navbar>

  <div class="container">
    <!--No flight info-->
    <div *ngIf="flights.length==0" class="mat-alert">
      <p>There is no flight available based on your search</p>
    </div>
    <!---->
  <br>
  <h2 *ngIf="flights?.length" style="padding: 10px;">List of flights available</h2>
  <table class="table">
    <thead>
      <tr *ngIf="flights?.length">
        <th>flight no.</th>
        <th>operating airline</th>
        <th>departure City</th>
        <th>Arrival City</th>
        <th>departure date</th>
        <th>estimated departure time</th>
        <th>select</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="onSelect(flight)" *ngFor="let flight of flights">
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.operatingAirline}}</td>
        <td>{{flight.departureCity}}</td>
        <td>{{flight.arrivalCity}}</td>
        <td>{{flight.dateOfDeparture}}</td>
        <td>{{flight.estimatedDepartureTime}}</td>
        <td><button mat-raised-button color="primary">Buy Ticket</button></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>


