<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<br>
<div class="container">

  <mat-card class="info">
        <mat-card-title>Reservation Summary</mat-card-title>
        <mat-card-content>
          <p>flight number: {{messages.flightNumber}}</p>
          <p>operating airline: {{messages.operatingAirline}}</p>
          <p>Departure City: {{messages.departureCity}}</p>
          <p>Arrival City: {{messages. arrivalCity}}</p>
          <p>Departure Date: {{messages.dateOfDeparture}}</p>
          <p>Estimated Departure Time: {{messages.estimatedDepartureTime}}</p>
        </mat-card-content>
      </mat-card>
  <br>
    <mat-card>
      <mat-card-title>Passenger Information:</mat-card-title>
      <mat-card-content>
    <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>FirstName</mat-label>
          <input matInput [(ngModel)] = "passenger.firstName" name = "firstName">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)] = "passenger.lastName" name = "lastName">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)] = "passenger.email" name = "email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput [(ngModel)] = "passenger.phoneNumber" name = "phoneNumber">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="makeReservation()">Check Out</button>
      </div>
      </mat-card-content>
    </mat-card>
</div>
</html>