<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
  <div *ng-include="'test.html'"></div>
<!--start of navigation bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Logo</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flight">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">More</a>
      </li>
    </ul>
  </nav>
<!--end of navigation bar-->

<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <div class="alert alert-success">
                        <strong>Key in the flight info!</strong> 
                      </div>

                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> flight Number: </label>
                        <input required type="text" [(ngModel)]="flight.flightNumber" name="flightNumber" id="flightNumber"
                            class="form-control phone" maxlength="28"/>
                    </div>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span> Operating Airline </label>
                        <input class="form-control" type="text" [(ngModel)]="flight.operatingAirline" name="operatingAirline" id="txt" required/>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span> Departure City : </label>
                        <input class="form-control" type="text" [(ngModel)]="flight.departureCity" name="departureCity"/>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Arrival City: </label>
                        <input class="form-control" required type="text" [(ngModel)]="flight.arrivalCity" name="arrivalCity"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Date of Departure: </label>
                        <input class="form-control" required type="text" [(ngModel)]="flight.dateOfDeparture" name="dateOfDeparture"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Estimated Departure Time: </label>
                        <input class="form-control" required type="text" [(ngModel)]="flight.estimatedDepartureTime" name="estimatedDepartureTime"/>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="addFlight()">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>